<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>


<div style="text-align:center">
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>팀 만들기</h3>
          <%=form_for Team.new , :html => {:class => "form-inline"} do |f| %>


            <div class="form-group">
              <input type="text" class="form-control" name="teamname" placeholder="팀 이름" required>
            </div>
            <button type="submit" class="btn btn-new">팀 만들기</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
